# **`Sets`**
* Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.
* A set is a collection which is unordered, unchangeable*, and unindexed.
* Unordered collection of elements (if you put some data in order inside  set it will discard order)
    * It shorts elements by itself (see below example)
* No duplicates only unique values
    * Put duplicates in set it will auto remove them
* Mutable can add, remove values
* Set Theory operations are possible like Union,Intersection etc...
    * `intersection` of 2 sets => set_1.intersection(set_2)
    * `union` of 2 sets => set_1.union(set_2) ..

# Create a Set

In [ ]:
# How to create a set ?
# Set is created with curly brackets.

set_ = {"apple", "banana", "cherry"}


# Single item set
set_1 = {"apple"}
print(type(set_1), set_1)

# Empty set
set_2 = {}
print(type(set_2), set_2)

set_3 = set()
print(type(set_3), set_3)

<class 'set'> {'apple'}
<class 'dict'> {}
<class 'set'> set()

In [ ]:
# Creating set from other data types

# List
list_1 = ['Curious Club', 11, 20, 2022]

# Set constructor is used to create set from list
set_from_list = set(list_1)
print('This is a set created from list ',set_from_list)

# in similar way a set can be constructed from tuple
tuple_1 = ('Curious Club', 11, 20, 2022)
set_from_tuple = set(tuple_1)
print('This is a set created from tuple ',set_from_tuple)

This is a set created from list  {11, 20, 2022, 'Curious Club'}
This is a set created from tuple  {11, 20, 2022, 'Curious Club'}

# Unordered

* Unordered means that the items in a set do not have a defined order.
* Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

In [ ]:
# Set does not retain the order of element as entered, it will sort the data by itself.
set_4 = {3, 4, 2, 1, 5, 6, 3, 5, 8, 9 }
set_4

{1, 2, 3, 4, 5, 6, 8, 9}

In [ ]:
# Sets being an unordered data type also means that we can not access, assign, or update element with indexing.

# set_4[2] #TypeError: 'set' object is not subscriptable

# set_4[2] = 0 #TypeError: 'set' object does not support item assignment

# No duplicates

* Set does not allow duplicates and discards them

In [ ]:
set_5 = {12, 45, 67, 12, 67, 12}

set_5

{12, 45, 67}

# Adding and Deleting in Set

In [ ]:
# Because we can not add element in set with indexing so we will use the add method of set

set_6 = {'Vishal', 'Curious', 'Club', 11, 20, 2022}

set_6.add('Jaiswal')

print('Jaiswal has been added here : ',set_6)

# Adding some data store in a varibale
variable = 'Jaiswal'

set_6.add(variable)

print('Jaiswal has been added here from a varibale: ',set_6)

Jaiswal has been added here from a varibale:  {2022, 'Club', 11, 20, 'Jaiswal', 'Vishal', 'Curious'}

In [ ]:
# Using discard method to remove items from set

# removing jaiswal from set_6
set_6.discard('Jaiswal')
print('Jaiswal has been removed here: ',set_6)

# remocing jaiswal stored in a variable
set_6.discard(variable)
print('Jaiswal has been added here from a varibale: ',set_6)

Jaiswal has been added here from a varibale:  {2022, 'Club', 11, 20, 'Vishal', 'Curious'}

# Set can store any data type

In [ ]:
# Set can store all data types

# Integer
set_7 = {12, 23, 34, 45}
print(set_7)

# String
set_8 = {'Curious', 'Club',}
print(set_8)

# Float
set_9 = {23.34, 56.78}
print(set_9)

# Integer, String, Float
set_10 = {'Join our club', 11, 20, 20.22}
print(set_10)

{34, 12, 45, 23}
{'Curious', 'Club'}
{56.78, 23.34}
{11, 20, 20.22, 'Join our club'}

# Methods

In [ ]:
# add()	Adds an element to the set
'''
we have covered this method above in this notebook 
'''

In [26]:
# clear()	Removes all the elements from the set
set_6 # Showing elements

set_6.clear() # clearing the set

set_6 # This is a emply set now

set()

In [27]:
# copy()	Returns a copy of the set
set_7 # Showing the elements

x = set_7.copy() # copying the elements in a new variable x

print(set_7)
print(x)

{34, 12, 45, 23}
{34, 12, 45, 23}

In [29]:
# difference()	Returns a set containing the difference between two or more sets

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print('x does not have ',z)

x does not have  {'cherry', 'banana'}

In [32]:
# difference_update()	Removes the items in this set that are also included in another, specified set

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
print(x)

x.difference_update(y)

print(x)
print(y)

{'apple', 'cherry', 'banana'}
{'cherry', 'banana'}
{'apple', 'google', 'microsoft'}

In [ ]:
# discard()	Remove the specified item
'''
We have already covered this above in this notebook
'''

In [35]:
# intersection()	Returns a set, that is the intersection of two or more sets

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print('Common element in x and y : ',z)

Common element in x and y  {'apple'}

In [37]:
# intersection_update()	Removes the items in this set that are not present in other, specified set(s)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print('Banana and Cherry were not in y hence they have been removed and x has only one element which is : ',x)

Banana and Cherry were not in y hence they have been removed and x has only one element which is :  {'apple'}

In [38]:
# isdisjoint()	Returns whether two sets have a intersection or not
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

# Return True if no items in set x is present in set y:
print(z)

True

In [41]:
# issubset()	Returns whether another set contains this set or not

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

# Return True if all items in set x are present in set y:
print(z)

True

In [47]:
# pop()	Removes an element from the set
set_9 = {1, 2, 3, 4, 5, 6, }
print(set_9)

print(set_9.pop()) # Returns the element bring removed

set_9

{1, 2, 3, 4, 5, 6}
1

{2, 3, 4, 5, 6}

In [49]:
# remove()	Removes the specified element

print(set_9)

set_9.remove(5)

set_9

{2, 3, 4, 5, 6}

{2, 3, 4, 6}

In [54]:
# symmetric_difference()	Returns a set with the symmetric differences of two sets

print(set_1, set_4)

set_11 = set_1.symmetric_difference(set_4)
print()
print(set_11)

{'apple'} {1, 2, 3, 4, 5, 6, 8, 9}

{1, 2, 3, 4, 5, 6, 8, 9, 'apple'}

In [55]:
# symmetric_difference_update()	inserts the symmetric differences from this set and another

print(set_1, set_4)

set_1.symmetric_difference_update(set_4)

set_1

{'apple'} {1, 2, 3, 4, 5, 6, 8, 9}

{1, 2, 3, 4, 5, 6, 8, 9, 'apple'}

In [64]:
# union()	Return a set containing the union of sets
set_1 = {1, 2, 3, 4, 5, 6, 8, 9,}
set_4 = {'apple'}

print(set_1)
print(set_4)

set_12 = set_1.union(set_4)

print(set_12)

{1, 2, 3, 4, 5, 6, 8, 9}
{'apple'}
{1, 2, 3, 4, 5, 6, 8, 9, 'apple'}

In [69]:
# update()	Update the set with another set, or any other iterable

set_1 = {1, 2, 3, 4, 5, 6, 8, 9,}
set_4 = {'apple'}

set_1.update(set_4)

set_1

# Adding list to set_1
list_1

set_1.update(list_1)

set_1

{1, 11, 2, 20, 2022, 3, 4, 5, 6, 8, 9, 'Curious Club', 'apple'}