# **`Tuple`** <br>

Benefit of using tuples:<br>
* Faster then list
* Tuple is ordered
* Allows duplicate
* Can carry any data type
* Provide security over updation => once created cannot be modefyied like list
* Can be used as key for dictionarie
* We generally use tuple for heterogeneous(different) datatypes and list for homogeneous (similar) datatypes
* Since tuples are immutable, iterating through tuple is faster than with list. So there is a slight performance boost
* Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible
* If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected
* We cannot edit/update or delete elements from the tuple

In [4]:
# Creating a tupple

tuple_1 = (2, 3, 4, 5, 6, 7)

# Tuple with 1 element 
# tuple_1 = (2,)

print(type(tuple_1))

# tuple_1 = (2,)

<class 'tuple'>

In [5]:
# list to tuple
list1 = [2, 3, 4, 5, 6, 7,]

tuple2 = tuple(list1)

print(type(tuple2), tuple2)

<class 'tuple'> (2, 3, 4, 5, 6, 7)

In [6]:
# Accessing elements on tuple
tuple2 = (2, 3, 4, 5, 6, 7, )

tuple2[1]

3

In [7]:
# Adding elements in tuple #raises error

tuple2 = (2, 3, 4, 5, 6, 7, )

tuple2[1] = 2

TypeError: ignored

In [15]:
# Slicing in tuple
tuple2 = (2, 3, 3, 4, 2, 4, 5, 6, 7, )

tuple2[2:]

(3, 4, 2, 4, 5, 6, 7)

In [12]:
# Methods of tuple

tuple2.count(2)

tuple2.index(4)

3

In [18]:
# Use of tuple method while slicing the tuple
tuple2[2:6].count(2)
tuple2[2:6].index(2)

2

In [23]:
# Arithmetic operation on tuple

tuple2 * 2
# tuple2 + 2
# tuple2 - 2
# tuple2 / 2

(2, 3, 3, 4, 2, 4, 5, 6, 7, 2, 3, 3, 4, 2, 4, 5, 6, 7)

In [30]:
# Data types in tuple

# tuple1 = ("apple", "banana", "cherry")
# tuple2 = (1, 5, 7, 9, 3)
# tuple3 = (True, False, False)

tuple1 = ("abc", 34, True, 40, "male")

tuple1

('abc', 34, True, 40, 'male')